<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div>
    <form action="/add" method="post">
        <div class="form-group d-flex justify-content-center">
            <div class="border border-dark d-flex align-items-center flex-column m-3 w-25 card bg-light mb-3">
                <h3 class="card-header w-100 text-center">ЗАПОВНІТЬ УСІ ПОЛЯ</h3>
                <div class="card-body">

                    <label for="name">Ім'я</label>
                    <input class="form-control" type="text" id="name"
                           name="name">

                    <label for="sorname" class="mt-2">Прізвище</label>
                    <input class="form-control" type="text" id="sorname"
                           name="sorname">

                    <label for="age" class="mt-2">Вік</label>
                    <input class="form-control" type="text" id="age"
                           name="age">

                    <label for="phone" class="mt-2">Номер телефону</label>
                    <input class="form-control" type="text" id="phone"
                           name="phone">

                    <label for="salary" class="mt-2">Зарплата</label>
                    <input class="form-control" type="text" id="salary"
                           name="salary">

                    <div class="d-flex justify-content-between align-items-baseline">
                        <button class="btn btn-primary mb-2 my-3 mx-2" type="submit">
                            Зберегти
                        </button>
                        <a class="btn btn-secondary my-3 mx-2" href="/">Повернутися</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>