<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="/add" method="post">
        <div>
            <div>
                <h3>ЗАПОВНІТЬ ВСІ ПОЛЯ</h3>
                <div>
                    <input type="text" id="name"
                           name="name">
                    <label for="name">Ім'я</label>
                </div>
                <div>
                    <input type="text" id="sorname"
                           name="sorname">
                    <label for="sorname">Прізвище</label>
                </div>
                <div>
                    <input type="text" id="age"
                           name="age">
                    <label for="age">Вік</label>
                </div>
                <div>
                    <input type="text" id="phone"
                           name="phone">
                    <label for="phone">Номер телефону</label>
                </div>
                <div>
                    <input type="text" id="salary"
                           name="salary">
                    <label for="salary">Зарплата</label>
                </div>

                <button type="submit">
                    Зберегти
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>