<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<h1 class="var_header">Завдання {{task_number}}</h1>

<table class="table table-secondary table-bordered m-2">
    <thead class="table-dark">
    <tr>
        <th>Ім'я</th>
        <th>Фамілія</th>
        <th>Вік</th>
        <th>Номер тел</th>
        <th>Зарплата</th>
    </tr>
    </thead>
    <tbody>
    {% for item in mass %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.sorname }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.salary }}</td>
    </tr>
    {% endfor %}
</table>

<a class="btn btn-outline-secondary col-2 m-2" href="/">Повернутися</a>

</body>
</html>