<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
</head>
<body>
<h1 class="var_header">Завдання {{task_number}}</h1>

<table class="styled-table">
    <thead>
    <tr>
        <th>Ім'я</th>
        <th>Фамілія</th>
        <th>Вік</th>
        <th>Номер тел</th>
        <th>Зарплата</th>
    </tr>
    </thead>
    <tbody>
    {% for item in mass %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.sorname }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.salary }}</td>
    </tr>
    {% endfor %}
    <tr class="active-row">
        <td>Melissa</td>
        <td>5150</td>
    </tr>
    </tbody>
</table>

</body>
</html>